#### Import Python packages

In [1]:
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

In [2]:
#### Creating list of filepaths to process original event csv data files
# checking current working directory
print(os.getcwd())

# Get current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dsirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace

In [3]:
# initiates empty list of rows from each (future) file
full_data_rows_list = []
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
print(len(full_data_rows_list))

# create a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

684

In [4]:
# check the number of rows in csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

566

In [5]:
# connects to a Cassandra instance on local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# connect to a session
session = cluster.connect()

In [6]:
# create keyspace
try:
    session.execute("""
        CREATE KEYSPACE IF NOT EXISTS sparkify 
        WITH REPLICATION = 
        { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }
    """)

except Exception as e:
    print(e)

In [7]:
# set keyspace
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

In [8]:
# Table for Query 1 (Songs by Session)
query = "CREATE TABLE IF NOT EXISTS song_session "
query = query + "(session_id int, item_in_session int, artist text, song_title text, song_length decimal, PRIMARY KEY (session_id, item_in_session))"
try:
    session.execute(query)
except Exception as e:
    print(e)
# Table for Query 2 (Songs by User & Session)
query = "CREATE TABLE IF NOT EXISTS song_user_session "
query = query + "(user_id int, session_id int, song_title text, item_in_session int, artist text, last_name text, first_name text, PRIMARY KEY ((user_id, session_id), item_in_session))"
try:
    session.execute(query)
except Exception as e:
    print(e)

# Table for Query 3 (Users by Song Title)
query = "CREATE TABLE IF NOT EXISTS user_song_title "
query = query + "(song_title text, user_id int, last_name text, first_name text, PRIMARY KEY ((song_title, user_id)))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [9]:
song_session_insert = "INSERT INTO song_session (session_id, item_in_session, artist, song_title, song_length) "
song_session_insert = song_session_insert + " VALUES (%s, %s, %s, %s, %s)"

song_user_session_insert = "INSERT INTO song_user_session (user_id, session_id, song_title, item_in_session, artist, last_name, first_name) "
song_user_session_insert = song_user_session_insert + " VALUES (%s, %s, %s, %s, %s, %s, %s)"

user_song_title_insert = "INSERT INTO user_song_title (song_title, user_id, last_name, first_name) "
user_song_title_insert = user_song_title_insert + " VALUES (%s, %s, %s, %s)"

In [10]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
# INSERT statements
#     session_song (session_id, item_in_session, artist, song_title, song_length)
        session.execute(song_session_insert, (int(line[8]), int(line[3]), line[0], line[9], float(line[5])))
#     user_song (user_id, session_id, song_title, item_in_session, artist, last_name, first_name)
        session.execute(song_user_session_insert, (int(line[10]), int(line[8]), line[9], int(line[3]), line[0], line[4], line[1]))
#     song_title_user (song_title, user_id, last_name, first_name)
        session.execute(user_song_title_insert, (line[9], int(line[10]), line[4], line[1]))

In [11]:
# Song Session Select
query = "SELECT artist, song_title, song_length FROM song_session WHERE session_id=338 AND item_in_session=4"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.artist, row.song_title, row.song_length)

In [12]:
# Song User Session Select
query = "SELECT artist, song_title, first_name, last_name FROM song_user_session WHERE user_id=10 AND session_id=182"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.artist, row.song_title, row.first_name, row.last_name)

Down To The Bone Keep On Keepin' On Sylvie Cruz
Three Drives Greece 2000 Sylvie Cruz
Sebastien Tellier Kilometer Sylvie Cruz
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz

In [13]:
# User Song Title Select
query = "SELECT user_id, last_name, first_name FROM user_song_title WHERE song_title='All Hands Against His Own' ALLOW FILTERING"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.user_id, row.first_name, row.last_name)

95 Sara Johnson

In [14]:
# drop tables before closing the sessions
query = "DROP TABLE IF EXISTS song_session"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "DROP TABLE IF EXISTS song_user_session"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "DROP TABLE IF EXISTS user_song_title"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [15]:
# close the session and cluster connectionÂ¶
session.shutdown()
cluster.shutdown()